<section id="video">
  <div class="container">
    <div class="six columns offset-by-three">
      <form class="main-form" ng-submit="save()">
        <h2>Upload new video</h2>
        <p class="input-field">
          <label for="video_title_field">Video title</label>
          <input id="video_title_field" type="text" ng-model="video.title" autofocus />
        </p>
        <p class="input-field">
          <label for="video_description_field">Description</label>
          <textarea id="video_description_field" ng-model="video.description"></textarea>
        </p>
        <input type="submit" value="Submit video" />
      </form>
    </div>
  </div>
</section>
