<article class="single-video">
  <div class="container">
    <div class="eight columns">
      <h2>{{video.title}}</h2>
      <p class="warning u-pull-left" ng-show="flashWarning">O plugin Adobe Flash não foi detectado.<br/>Este plugin é obrigatório para assistir aos vídeos. <a href="https://get.adobe.com/br/flashplayer/" target="_blank" rel="external" title="Download do Adobe Flash Player">Clique aqui</a> para fazer o download.</p>
    </div>
  </div>
  <div class="video-content">
    <div class="container">
      <div class="eight columns">
        <div id="main-video" class="video-media" voda-media="video"></div>
        <section class="video-description">
          <p class="meta" ng-show="video.recordedAt">Gravado em {{video.recordedAt | formatDate:'LL'}}</p>
          <p>{{video.description}}</p>
        </section>
      </div>
      <!-- <div class="four columns">
        <div class="video-comments" voda-comments="video"></div>
      </div> -->
    </div>
  </div>
</article>
