<article class="single-video">
  <div class="container">
    <div class="eight columns">
      <h2>{{video.title}}</h2>
    </div>
  </div>
  <div class="video-content">
    <div class="container">
      <div class="eight columns">
        <div id="main-video" class="video-media" voda-media="video"></div>
        <section class="video-description">
          <p class="meta" ng-show="video.recordedAt">Gravado em {{video.recordedAt | formatDate:'LL'}}</p>
          <p>{{video.description}}</p>
        </section>
      </div>
      <!-- <div class="four columns">
        <div class="video-comments" voda-comments="video"></div>
      </div> -->
    </div>
  </div>
</article>
