<section id="auth-form">
  <div class="container">
    <div class="four columns offset-by-four">
      <form ng-submit="auth()" class="main-form">
        <p ng-show="registration">
          <input type="text" ng-model="credentials.name" placeholder="Nome" />
        </p>
        <p>
          <input type="email" ng-model="credentials.email" placeholder="Email" />
        </p>
        <p>
          <input type="password" ng-model="credentials.password" placeholder="Senha" />
        </p>
        <p ng-hide="registration">
          <input type="submit" value="Entrar" />
        </p>
        <p ng-show="registration">
          <input type="submit" value="Registrar" />
        </p>
        <p ng-hide="active">
          <a ui-sref="auth({register:true})" ng-hide="registration">Registrar</a>
          <a ui-sref="auth({register:null})" ng-show="registration">Entrar</a>
        </p>
      </form>
    </div>
  </div>
</section>
