<!-- <div class="hero">
  <div class="container">
    <div class="twelve columns">
      <h2>Own your video network</h2>
      <p><a class="button" ui-sref="main.videoEdit" ng-show="user">Upload new video</a></p>
    </div>
  </div>
</div> -->
<section id="videos" ng-show="videos.length">
  <div class="container">
    <div class="twelve columns">
      <p class="warning u-pull-left" ng-show="flashWarning">O plugin Adobe Flash não foi detectado.<br/>Este plugin é obrigatório para assistir aos vídeos. <a href="https://get.adobe.com/br/flashplayer/" target="_blank" rel="external" title="Download do Adobe Flash Player">Clique aqui</a> para fazer o download.</p>
      <div class="row">
        <nav class="video-nav u-pull-right">
          <input type="text" placeholder="Busque por um vídeo..." ng-model="search" />
        </nav>
      </div>
      <ul class="video-list">
        <li ng-repeat="video in videos | filter:search" video-item="video"></li>
      </ul>
      <nav class="pagination row">
        <a class="prev" ui-sref="main.home({page: prevPage()})" ng-show="hasPrevPage()">Página anterior</a>
        <a class="next" ui-sref="main.home({page: nextPage()})" ng-show="hasNextPage()">Próxima página</a>
      </nav>
    </div>
  </div>
</section>
