<section id="video">
  <div class="container">
    <div class="six columns">
      <form class="main-form" ng-submit="save()">
        <h2 ng-show="user.id">Editar {{user.name}}</h2>
        <h2 ng-hide="user.id">Adicionar novo usuário</h2>
        <p class="input-field">
          <label for="user_name_field">Nome</label>
          <input id="user_name_field" type="text" ng-model="user.name" autofocus />
        </p>
        <p class="input-field">
          <label for="user_email_field">Email</label>
          <input id="user_email_field" type="text" ng-model="user.email" />
        </p>
        <p class="input-field">
          <label for="user_password_field">Senha</label>
          <input id="user_password_field" type="password" ng-model="user.password" />
        </p>
        <p class="input-field">
          <label for="user_role_field">Acesso</label>
          <div class="radio-group">
            <label>
              <input type="radio" name="user_role_input" value="admin" ng-model="user.role"> Administrador
            </label>
            <label>
              <input type="radio" name="user_role_input" value="publisher" ng-model="user.role"> Publicador
            </label>
            <label>
              <input type="radio" name="user_role_input" value="subscriber" ng-model="user.role"> Assinante
            </label>
          </div>
        </p>
        <p class="input-field">
          <label for="user_status_field">Status</label>
          <div class="radio-group">
            <label>
              <input type="radio" name="user_status_input" value="active" ng-model="user.status"> Ativo
            </label>
            <label>
              <input type="radio" name="user_status_input" value="pending" ng-model="user.status"> Pendente
            </label>
          </div>
        </p>
        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>
</section>
