<article class="single-user">
  <div class="container">
    <div class="eight columns">
      <h3>{{u.name}}</h3>
    </div>
  </div>
  <section id="user-info">
    <div class="container">
      <div class"twelve columns">
        <table>
          <tr>
            <th>Email</th>
            <td>{{u.email}}</td>
          </tr>
          <tr>
            <th>Acesso</th>
            <td>{{u.role}}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{u.status}}</td>
          </tr>
        </table>
        <nav>
          <p>
            <a ui-sref="main.users.edit({id: u.id, page: null})">Editar</a>
            <a href="javascript:void(0);" ng-click="deleteUser(u)" ng-hide="u.id == 1 || u.id == user.id">Remover</a>
          </p>
        </nav>
      </div>
    </div>
  </section>
  <hr/>
  <section id="user-report">
    <div class="container">
      <div class="twelve columns">
        <h4>Relatório do usuário</h4>
        <p ng-show="activitiesCount">{{u.name}} realizou <strong>{{activitiesCount}} conexões</strong> a vídeos.</p>
        <p ng-hide="activitiesCount">{{u.name}} ainda não assistiu aos vídeos.</p>
        <table ng-show="activitiesCount">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th>Tempo de conexão</th>
              <th>Vídeo</th>
              <th>IP</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="activity in activities">
              <td>{{activity.id}}</td>
              <td>{{activity.createdAt | fromNow}}</td>
              <td>
                <span ng-show="activity.statusCode == 200">
                  <span ng-show="activity.status == 'open'">Conectado agora</span>
                  <span ng-show="activity.status == 'closed'" ng-init="time = getTime(activity)">
                    <span ng-show="time > 0">
                      {{time | duration}}
                    </span>
                    <span ng-show="time == 0">
                      Menos de 5 segundos
                    </span>
                    <span ng-show="time < 0">
                      Não computado
                    </span>
                  </span>
                </span>
                <span ng-hide="activity.statusCode == 200">
                  {{activity.statusCode | statusCode}}
                </span>
              </td>
              <td>{{activity.video.title}}</td>
              <td>{{activity.ip}}</td>
            </tr>
          </tbody>
        </table>
        <nav class="pagination row">
          <a class="prev" ui-sref="main.users.single({report_page: prevPage()})" ng-show="hasPrevPage()">Página anterior</a>
          <a class="next" ui-sref="main.users.single({report_page: nextPage()})" ng-show="hasNextPage()">Próxima página</a>
        </nav>
      </div>
    </div>
  </section>
</article>
